/* Общие стили */
*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    }

.container {
    max-width: 700px;
    margin: 0 auto;
}

/* Стили слайдера */
.controls {
    margin-block-end: 20px;
}
  
.button {
    cursor: pointer;
    user-select: none;
    outline: 1px solid grey;
}
  
.button-radio {
    background-color: transparent;
    margin: 0;
    padding: 0;
    inline-size: 15px;
    block-size: 15px;
    border-radius: 50%;
    border: 1px solid #FFFFFF;
}
  
.button-radio + .button-radio {
    margin-inline-start: 12px;
}
  
.button-radio.active {
    background-color: white;
    pointer-events: none;
}
  
.button-radio:focus-visible {
    outline: 3px solid white;
    outline-offset: -1px;
}
  
.button-prev,
.button-next {
    position: absolute;
    inset-block-start: 50%;
    transform: translateY(-50%);
    border: none;
    inline-size: 30px;
    block-size: 42px;
    background-color: transparent;
    background-image: url(../img/Arrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.button-prev[aria-disabled="true"],
.button-next[aria-disabled="true"] {
    opacity: 0.5;
    pointer-events: none;
}
  
.button-prev {
    inset-inline-start: -50px;
}
  
.button-next {
    inset-inline-end: -50px;
    transform: translateY(-50%) rotateY(180deg);
    transform-origin: center;
}
  
.slide-img {
    display: block;
    inline-size: 100%;
    block-size: 225px;
    max-block-size: 225px;
    object-fit: cover;
}
  
.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-inline-size: 600px;
    inline-size: 100%;
    position: relative;
}
  
.slides {
    inline-size: 100%;
}
  
.slide {
    display: none;
    text-align: center;
}
  
.slide--active {
    display: block;
}
  
@media (max-width: 768px) {
    .slider {
      max-inline-size: 260px;
    }
  
    .slide-img {
      block-size: 400px;
    }
  
    .button-prev {
      inset-inline-start: -40px;
    }
  
    .button-next {
      inset-inline-end: -40px;
    }
}
  

/* Стили для активной кнопки */
    /* Анимация нажатия */
    .btn-next_enabled {
        transition: 0.1s all;
    }
    
    .btn-next_enabled:active {
        transform: scale(0.99);
    }
    
        /* Реакция при наведении */
    .btn-next_enabled:hover {
        background-color: rgba(0, 0, 0, .05);
    }
    
    /* Стили для неактивной кнопки */
    .btn-next_disabled {
        background-color: rgba(28, 26, 26, .15);
        color: black;
    }

/* Шрифты */
    /* Для кнопки */
    .btn-next-text {
        font-size: 16px;
        line-height: 150%;
    }